{% extends "html/base.html" %}
{% block tabs %}
<div id="tabs-winners">
    <h4>Winners</h4>
    <table class="gridtable">
        <tr><th>Season</th><th>Winner</th></tr>
        <tr><td>2020/21</td>Mark Holmes</tr>
        <tr><td>2019/20</td><td>Ed Jones (Season cut short due to Coronavirus) </td></tr>
        <tr><td>2018/19</td><td>Ed Jones</td></tr>
        <tr><td>2017/18</td><td>Ross Denham</td></tr>
        <tr><td>2016/17</td><td>Jon Culver</td></tr>
        <tr><td>2015/16</td><td>Paul Gillard</td></tr>
        <tr><td>2014/15</td><td>Ed Jones</td></tr>
        <tr><td>2013/14</td><td>John Cooper</td></tr>
        <tr><td>2012/13</td><td>Jon Culver</td></tr>
        <tr><td>2011/12</td><td>John Cooper</td></tr>
        <tr><td>2010/11</td><td>John Cooper</td></tr>
        <tr><td>2009/10</td><td>John Cooper</td></tr>
        <tr><td>2008/9</td><td>Ross Denham</td></tr>
        <tr><td>2007/8</td><td>John Cooper</td></tr>
        <tr><td>2006/7</td><td>Simon Osborne</td></tr>
        <tr><td>2005/6</td><td>John Cooper</td></tr>
        <tr><td>Euro 2004</td><td>Juliette White</td></tr>
        <tr><td>2004/5</td><td>Simon Osborne</td></tr>
        <tr><td>2003/4</td><td>Jon Culver</td></tr>
        <tr><td>2002/3</td><td>Tom Dalton</td></tr>
    </table>

    <hr>
    <h4>Final Positions</h4>
    <table class="gridtable">
        <tr><th>Manager      </th><th>Average</th><th>2021</th><th>2020</th><th>2019</th><th>2018</th><th>2017</th><th>2016</th><th>2015</th><th>2014</th><th>2013</th><th>2012</th><th>2011</th><th>2009</th><th>2008</th></tr>
        <tr><td>Ed           </td><td>3.0 </td><td>3</td><td>1</td><td>1</td><td>5</td><td>7</td><td>2</td><td>1</td><td>4</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
        <tr><td>Jon C        </td><td>3.8 </td><td>7</td><td>2</td><td>4</td><td>2</td><td>1</td><td>5</td><td>6</td><td>5</td><td>1</td><td>3</td><td>2</td><td>5</td><td>7</td></tr>
        <tr><td>Tom H        </td><td>3.9 </td><td>4</td><td>4</td><td>2</td><td>3</td><td>6</td><td>6</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
        <tr><td>Mark         </td><td>4   </td><td>1</td><td>5</td><td>6</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
        <tr><td>Tom J        </td><td>4   </td><td>5</td><td>-</td><td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
        <tr><td>Ross         </td><td>4.5 </td><td>6</td><td>3</td><td>7</td><td>1</td><td>2</td><td>7</td><td>9</td><td>7</td><td>6</td><td>2</td><td>6</td><td>1</td><td>2</td></tr>
        <tr><td>Simon        </td><td>5.1 </td><td>8</td><td>6</td><td>9</td><td>4</td><td>4</td><td>4</td><td>3</td><td>6</td><td>5</td><td>5</td><td>5</td><td>2</td><td>5</td></tr>
        <tr><td>Rich         </td><td>5   </td><td>2</td><td>8</td><td>5</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
        <tr><td>Peyman       </td><td>6.9 </td><td>9</td><td>7</td><td>8</td><td>6</td><td>-</td><td>8</td><td>4</td><td>8</td><td>8</td><td>4</td><td>7</td><td>8</td><td>6</td></tr>
        <tr><td><i>John</i>  </td><td>2.4 </td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>8</td><td>1</td><td>2</td><td>1</td><td>1</td><td>3</td><td>1</td></tr>
        <tr><td><i>Jonny</i> </td><td>3.8 </td><td>-</td><td>-</td><td>-</td><td>-</td><td>3</td><td>3</td><td>5</td><td>3</td><td>2</td><td>6</td><td>4</td><td>4</td><td>-</td></tr>
        <tr><td><i>Paul</i>  </td><td>3.8 </td><td>-</td><td>-</td><td>-</td><td>-</td><td>5</td><td>1</td><td>-</td><td>2</td><td>7</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
        <tr><td><i>Antony</i></td><td>5.4 </td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>7</td><td>9</td><td>4</td><td>7</td><td>2</td><td>6</td><td>3</td></tr>
        <tr><td><i>Robbie</i></td><td>7.0 </td><td>-</td><td>-</td><td>7</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    </table>

</div>

{% endblock %}
